/* components/SearchBar/SearchBar.module.css */

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; /* Make the search container take full width */
  background-color: #f5f5f5;
  border-radius: 25px;
  padding: 5px 10px;
  max-width: 400px; /* Maximum width for the search bar */
  margin: 0 auto; /* Center the search bar horizontally */
  
}

.search-input {
  flex-grow: 1;
  padding: 10px;
  border: none;
  background: none;
  font-size: 16px;
  border-radius: 65px;
}

.search-input:focus {
  outline: none;
}

.search-button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

.search-button img {
  width: 20px;
  height: 20px;
}
